body{
    margin: 0;
    padding: 0;
}
#aplicacion{
  width: 370px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}
.seccion{
  width: 370px;
  height: 500px;
}
.ocultar{
  display: none;
}
#seccion_1{
  background: lightblue;
}
#seccion_2{
  background: lightgoldenrodyellow;
}
#seccion_3{
  background: lightcoral;
}
#seccion_4{
  background: lightsteelblue;
}
#seccion_5{
  background: lightpink;
}
#seccion_6{
  background: lightseagreen;
}